<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="httpInvokerTest" class="chapter12.HttpInvokerTest1Impl"/>

    <bean name="remoting" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="httpInvokerTest"/>
        <property name="serviceInterface" value="chapter12.HttpInvokerTest1"/>
    </bean>

    <bean name="r2" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
        <property name="service" ref="httpInvokerTest"/>
        <property name="serviceInterface" value="chapter12.HttpInvokerTest1"/>
    </bean>
</beans>