<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--mode配置aop代理类的实现方式，默认是Java proxy，配置为aspectj时mode="aspectj"需要依赖spring-aspects模块-->
    <tx:annotation-driven transaction-manager="transactionManager" mode="aspectj"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置业务bean-->
    <bean id="userService" class="chapter8.service.impl.UserServiceImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置dbcp连接池-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost/spring_source_code_leaning?useUnicode=true&amp;characterEncoding=UTF8&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <!--连接池的初始大小-->
        <property name="initialSize" value="1"/>
        <!--连接池最大值-->
        <property name="maxActive" value="300"/>
        <!--最大空闲连接数-->
        <property name="maxIdle" value="2"/>
        <!--最小空闲连接数-->
        <property name="minIdle" value="1"/>

        <property name="defaultAutoCommit" value="true"/>
    </bean>
</beans>